
  body{
      
    background: url(imagenes/fondo.jpg)  ; 
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
  }
  h1{
      text-align: center;
      padding: 20px;
      color: rgb(15, 41, 53);
  }
  .container{
      width: 500px;
      padding: 20px;
      margin: auto;
      background: rgb(197, 243, 197);
    }
  h2{
      font-size: 14px;
      text-align: center;
      padding: 20px 10px;
  }
  .correo{
      width: 100%;
      border: none;
      background: none;
      border-bottom: solid #222 2px;
      padding: 15px;
      outline: none;
      margin-bottom: 20px;
  }
  .correo:focus{
      border-bottom: solid rgb(0, 89, 253) 1px;
  }
  .form__button{
      display: flex;
      justify-content: space-between;
  }
  .salir{
      text-decoration: none;
      background: red;
      padding: 5px 20px;
      color: white;
      font-size: 14px;
  }
  .salir:hover{
      background: rgb(172, 2, 2);
  }
  .enviar{
      background: green;
      padding: 8px 15px;
      color: white;
      border: none;
      font-size: 14px;
      cursor: pointer;
  }
  .enviar:hover{
      background: green(0, 141, 54);
  }
