* {
    box-sizing: border-box;
}

html { 
    background: url("imagenes/Recurso\ 2.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    margin: 0;
    font-family: 'Viga', sans-serif;
}

a {
    text-decoration: none;
}

.volver {
    display: flex;
    align-items: center;
    margin-left: 850px;
    margin-top: 50px;
}

.volver p {
    color: #252C59;
    margin-right: 10px;
}

.volver p a {
    color: #252C59;
}

.volver i {
    color: #F22727;
    font-size: 20px;
}

.contenedor {
    width: 550px;
    max-width: 100%;
    margin: auto;
    margin-top: 100px;
    margin-left: 850px;
    padding: 10px;
    text-align: center;
}

.contenedor .hora {
    font-size: 96px;
    color: #252C59;
    margin-bottom: 0px;
    width: 100%;
}

.contenedor .txt {
    color: #F22727;
    font-size: 33px;
}

.login {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 220px;
}

.login i {
    font-size: 30px;
    color: #F22727;
}

.login h3 {
    width: 20px;
    font-size: 15px;
    margin-right: 45px;
}

.login a {
    color: #252C59;
}