<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.rtl.min.css" integrity="sha384-dc2NSrAXbAkjrdm9IYrX10fQq9SDG6Vjz7nQVKdKcJl3pC+k37e7qJR5MVSCS+wR" crossorigin="anonymous">
    <link rel="stylesheet" href="feriados.css">
    <title>feriados</title>
</head>
<body >
    <table id="tblFeriados" style="color: black;">
        <th>
          <td>Día</td>
          <td>Feriado</td>
          <td>Extra</td>
        </th>
    </table>
    <br>
    <br>
    
    <a href="sesion.html" style="background-color: goldenrod; border: 0ch;" class="btn btn-primary">Volver</a>
    
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>
    $.get( "https://www.feriadosapp.com/api/holidays.json", function(data){
        $.each(data.data, function(i, item){
          $("#tblFeriados").append("<tr>"+
                                    "<td>"+item.date+"</td>"+
                                    "<td>"+item.title+"</td>"+
                                    "<td>"+item.extra+"</td>"+
                                  "</tr>");
        });
        console.log(data);
      });
  
</script>
</body>
</html>