{% load static %}

{% block ingreso-a %}{% endblock %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrada</title>

    <link rel="stylesheet" href="{% static 'css/entrada.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Viga&display=swap" rel="stylesheet">
</head>

<body>
    <form action="" method="POST" enctype="multipart/form-data" >
    {% csrf_token %}
        <div class="volver">
            <p><a href="{% url 'home' %}">VOLVER</a></p>
            <i class="fa-solid fa-arrow-left-long"></i>
        </div>
        <div class="contenedor">

            <br><br><br>
            <h1> Registrar Entrada </h1>
                
                <br>
                {{form}}
                <br>
                <br>
                

            <input type="button" value="Actualizar" onclick="location.reload()" style="background-color: orange; color:aliceblue;" />
            <input type="submit" class="btn btn-primary" value="Confirmar" style="background-color: green; color:aliceblue; width:150px;">
            <i class="fa-solid fa-right-from-bracket"></i>
            
        </div>
    </form>
</body>
<script src="https://kit.fontawesome.com/2f8a153128.js" crossorigin="anonymous"></script>

</html>