* {
    box-sizing: border-box;
}


body {
    background: url("/static/imagenes/Recurso\ 2.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    font-family: 'Viga', sans-serif;
}

a {
    text-decoration: none;
}

.volver {
    display: flex;
    align-items: center;
    margin-left: 850px;
    margin-top: 50px;
}

.volver p {
    color: #252C59;
    margin-right: 10px;
}

.volver p a {
    color: #252C59;
}

.volver i {
    color: #F22727;
    font-size: 20px;
}

.contenedor {
    width: 550px;
    max-width: 100%;
    margin: auto;
    margin-top: 100px;
    margin-left: 850px;
    padding: 10px;
    text-align: center;
}

.contenedor .hora {
    font-size: 96px;
    color: #252C59;
    margin-bottom: 0px;
    width: 100%;
}

.contenedor .txt {
    color: #F22727;
    font-size: 33px;
}

.login {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 220px;
}

.login i {
    font-size: 30px;
    color: #F22727;
}

.login h3 {
    width: 20px;
    font-size: 15px;
    margin-right: 45px;
}

.login a {
    color: #252C59;
}

.esp{
    background-color: goldenrod;
    margin-right: 70%;
}

.boton {
    display: inline-block;
    border-radius: 4px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
    font-size: 28px;
    padding: 5px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.boton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.boton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.boton:hover span {
    padding-right: 25px;
}

.boton:hover span:after {
    opacity: 1;
    right: 0;
}
.fichaE{
    padding: 2%;
    color: rgb(0, 0, 0)!important;
    margin-top: 2%;
    border-radius: 4%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
}
@media (max-width: 600px) {
    .fichaE{
        padding: 2%;
        background-color: #0c4ae37d;
        color: white!important;
        margin-top: 2%;
        border-radius: 4%;  
        text-align: center;
    }
    .esp{
        background-color: goldenrod;
        margin-right: 50%;
    }
}