* {
    box-sizing: border-box;
}

body {
    background: url("/static/imagenes/Recurso\ 1.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    font-family: 'Viga', sans-serif;
}

a {
    text-decoration: none;
}

p {
    margin-top: -20px;
    margin-bottom: 30px;
    color: #808080;
}

.login {
    display: flex;
    align-items: center;
    margin-left: 1250px;
    margin-top: 50px;
}

.login i {
    font-size: 30px;
    color: #F22727;
}

.login h3 {
    width: 20px;
    font-size: 15px;
    margin-right: 45px;
}

.login a {
    color: #252C59;
}

.contenedor {
    width: 300px;
    max-width: 100%;
    margin: auto;
    margin-top: -30px;
    margin-left: 950px;
    padding: 10px;
}

.entrada {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.salida {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.btn-close {
    position: absolute;
    right: 3px;
}
.reporte {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    font-size: 17px;
    text-align: center;
    font-weight: bold;
    background-color: #999999;
    border: none;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.subtitulo {
    width: 150px;
    height: 80px;
    background-color: #252C59;
    color: #FFFFFF;
    font-size: 25px;
    border: none;
    border-radius: 10px 60px 60px 10px;
    text-align: center;
    padding-top: 25px;
    background-color: #252C59;
    color: #FFFF;
}

.flecha {
    width: 100px;
    height: 80px;
    border: none;
    border-radius: 20px;
}
.flechaa {
    width: 60px;
    height: 80px;
    border: none;
    border-radius: 20px;
}
.flechaa b {
    font-size: 30px;
    color: #FFFF;
}

.flecha i {
    font-size: 60px;
    color: #FFFF;
}

.verde {
    background-color:#8CC63F;;
}

.naran {
    background-color:#F2BD1D;;
}
