* {
    box-sizing: border-box;
}

body {
    background: url("/static/imagenes/Recurso\ 1.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    font-family: 'Viga', sans-serif;
}

.boton {
    display: inline-block;
    border-radius: 4px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
    font-size: 28px;
    padding: 5px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.boton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.boton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.boton:hover span {
    padding-right: 25px;
}

.boton:hover span:after {
    opacity: 1;
    right: 0;
}

a {
    text-decoration: none;
}

.formulario {
    width: 290px;
    max-width: 100%;
    margin: auto;
    margin-top: 140px;
    margin-left: 950px;
    padding: 5px;
}

.form__titulo {
    text-align: center;
    margin-top: 0;
    color: #252C59;
}

.form__input,
.form__label,
.form__submit {
    display: block;
    width: 100%;
}

.form__label {
    margin-bottom: 5px;
    font-size: 12px;
    color: #252C59;
}

.form__input {
    margin-bottom: 20px;
    height: 40px;
    border-radius: 10px;
    border: 2.5px solid #D8D8D8;
    padding: 10px;
}

.form__btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ingresar {
    width: 120px;
    height: 60px;
    background-color: #252C59;
    color: #FFFFFF;
    border: none;
    border-radius: 10px 30px 30px 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.limpiar {
    width: 70px;
    color: #F22727;
    border: none;
    font-size: 10px;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
}
.tableado{
    padding: 2%;
    background-color: #0c4ae37d;
    color: white;
    margin-top: 5%;
    border-radius: 4%;
}
th,
td {
    background-color: #252C59;
    border: solid 1px;
    color: white;
}
.esp{
    background-color: goldenrod;
    margin-right: 70%;
}
.fichA{
    padding: 2%;
    color: rgb(0, 0, 0)!important;
    margin-top: 2%;
    border-radius: 4%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
}

@media (max-width:600px) {
    th,
    td {
        font-size: 10px;
        border: solid 1px;
    }

    .fichA{
        padding: 2%;
        background-color: #0c4ae37d;
        color: white!important;
        margin-top: 2%;
        border-radius: 4%;  
        text-align: center;
    }
    .fichA, input{
        font-size: 18px;
    }

    .fichaE{
        padding: 2%;
        background-color: #0c4ae37d;
        color: white!important;
        margin-top: 2%;
        border-radius: 4%;  
        text-align: center;
    }
    .tableado{
        padding: 0%;
        background-color: #0c4ae37d;
        color: white;
        margin-top: 0%;
        border-radius: 4%;

    }
    table{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .esp{
        background-color: goldenrod;
        margin-right: 50%;
    }
}
@media (max-height: 600px) {
    .fichA{
        padding: 2%;
        background-color: #0c4ae37d;
        color: white!important;
        margin-top: 2%;
        border-radius: 4%;  
        text-align: center;
    }
}