{% load static %}
{% block navbar %}
{% endblock %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<title>Restaurar Contraseña</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Viga&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link rel="icon" href="../../static/imagenes/icon.png">
{% block content %}

<body>
    <div class="fichA" style="margin-top: 10%;">
    <form action="" method="POST" enctype="multipart/form-data">
            <div id="formLogin">
                <br><br><br>
                <h1 class=""> Recuperar contraseña </h1>
                <br>
                {% csrf_token %}

                <label for="id_email" class="">Correo Electronico:</label> {{ form.email }}
                <br><br>
                <input class="btn btn-primary" class="form-input" type="submit" value="Enviar" />
            </div>

        </form>
    </div>
</body>

{% endblock %}