{% load static %}
{% block navbar %}
{% endblock %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link rel="icon" href="../../static/imagenes/icon.png">
{% block content %}

<h1> Restablecimiento de contraseña enviado </h1>

<p> Le enviamos instrucciones por correo electrónico para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó. Debería recibirlos en breve.
    Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su carpeta de correo no deseado. </p>




{% endblock %}